{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Spiewnik</title>
    <link rel="stylesheet" href="{% static 'spiewnik/css/piosenka.css' %}">
</head>
<body>
    <h2>{{ category }}</h2>
    <h1>{{ title }}</h1>
    <h2>{{ author }}</h2>
    
    {% if request.user.is_staff %}
    <div class="edit-button-wrapper">
        <a href="{{ admin_url }}" class="edit-button">✏️ Edytuj</a>
    </div>
    {% endif %}

    <div class="lyrics">
        {% for line in lines %}
    {% if line.bold %}<strong>{% if line.highlight %}<mark>{% endif %}{{ line.text }}{% if line.highlight %}</mark>{% endif %}</strong>{% elif line.comment %}<span class="comment">{{ line.text }}</span>{% else %}{{ line.text }}{% endif %}
        {% endfor %}
    </div>

</body>
</html>
