{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>Śpiewnik - Spis treści</title>
        <link rel="stylesheet" href="{% static 'spiewnik/css/spis_tresci.css' %}" />
    </head>
    <body>
        <div class="toc">
            {% block title %}{% endblock %}
            {% block categorized_songs %}{% endblock %}
            {% block uncategorized_songs %}{% endblock %}
        </div>
        <script src="{% static 'spiewnik/js/spis_tresci.js' %}"></script>
    </body>
</html>
